<div class="GameDataAnalysisWrap  AllCon">

    <Header>
    </Header>
    <main class="GameDataAnalysisCon clearfix">



        <div class="topInf clearfix">
            <div class="attention">
                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'eye']" />
                <span>関注</span>
            </div>
            <p class="leagueName">洪都甲秋</p>
            <div class="teams">
                <div class="team">
                    <div class="logo">
                        <div class="logoWrap">
                            <img src="../assets/20200412115447.jpg">
                        </div>
                    </div>
                    <p class="teamNeme">达姆施塔特</p>
                </div>
                <div class="score">
                    3-1
                </div>
                <div class="team">
                    <div class="logo">
                        <div class="logoWrap">
                            <img src="../assets/20200416023822.jpg">
                        </div>
                    </div>
                    <p class="teamNeme">菲尔特</p>
                </div>
            </div>
            <div class="date">
                开赛时间：2020-09-12 02:45
                <br />
                场地：域卡维治路球场 天气：多云 温度：12℃～13℃
            </div>
        </div>


        <div class="changePage">
            <div class="navBtn changed">數據分析</div>
            <router-link to="GameDataInformation" class="navBtn">
                <div>賽事情報</div>
            </router-link>
            
            
        </div>
        <div class="dataArea">

            <p class="areaTitle">首发阵容</p>
            <div class="startingLineup">
                <div class="stationWrap">
                    <div class="team">

                        <div class="logo">
                            <img src="../assets/20200416023822.jpg">
                        </div>
                        <div class="name">
                            达姆施塔特
                        </div>

                    </div>
                    <div class="station">
                        4-4-2
                    </div>
                </div>
                <div class="court">
                    <div class="homeList">
                        <div class="line goalkeeper">
                            <div class="player">
                                <div class="event">

                                </div>
                                <div class="name">
                                    1 阿森霍
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <div class="player">
                                <div class="event">
                                    <div class="cardChange">

                                    </div>
                                </div>
                                <div class="name">
                                    24 佩德拉萨
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    4 托雷斯
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    11 查克胡斯
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    2 加斯帕尔
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    23 戈麦斯
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">

                                </div>
                                <div class="name">
                                    19 科克兰
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">

                                </div>
                                <div class="name">
                                    3 阿尔比奥尔
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">

                                </div>
                                <div class="name">
                                    2 加斯帕尔
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon penalize" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    12 帕雷霍
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                </div>
                                <div class="name">
                                    4 托雷斯
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">

                                </div>
                                <div class="name">
                                    3 阿尔比奥尔
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    2 加斯帕尔
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    24 佩德拉萨
                                </div>
                            </div>

                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    24 佩德拉萨
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">

                                </div>
                                <div class="name">
                                    4 托雷斯
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon ownGoals" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    17 帕科
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">

                                </div>
                                <div class="name">
                                    7 莫雷诺
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="awayList">
                        <div class="line">
                            <div class="player">
                                <div class="event">
                                    <div class="out">
                                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'play']" />
                                    </div>
                                </div>
                                <div class="name">
                                    24 佩德拉萨
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    4 托雷斯
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    11 查克胡斯
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    2 加斯帕尔
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    23 戈麦斯
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">

                                </div>
                                <div class="name">
                                    19 科克兰
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">

                                </div>
                                <div class="name">
                                    3 阿尔比奥尔
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <div class="in">
                                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'play']" />
                                    </div>
                                </div>
                                <div class="name">
                                    2 加斯帕尔
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon penalize" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    12 帕雷霍
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                </div>
                                <div class="name">
                                    4 托雷斯
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <div class="yellowCard">

                                    </div>
                                </div>
                                <div class="name">
                                    3 阿尔比奥尔
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    2 加斯帕尔
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    24 佩德拉萨
                                </div>
                            </div>

                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    24 佩德拉萨
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <div class="redCard">

                                    </div>
                                </div>
                                <div class="name">
                                    4 托雷斯
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">
                                    <font-awesome-icon class="fontAwesomeIcon ownGoals" :icon="['fa', 'futbol']" />
                                </div>
                                <div class="name">
                                    17 帕科
                                </div>
                            </div>
                            <div class="player">
                                <div class="event">

                                </div>
                                <div class="name">
                                    7 莫雷诺
                                </div>
                            </div>
                        </div>
                        <div class="line goalkeeper">
                            <div class="player">
                                <div class="event">

                                </div>
                                <div class="name">
                                    1 阿森霍
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="stationWrap">
                    <div class="team">

                        <div class="logo">
                            <img src="../assets/07.png">
                        </div>
                        <div class="name">
                            达姆施塔特
                        </div>

                    </div>
                    <div class="station">
                        4-4-2
                    </div>
                </div>
            </div>
            <p class="areaTitle">详细事件</p>
            <swiper :options="swiperOption">
                <swiper-slide class="eventWrap">
                    <div class="time">
                        32'
                    </div>
                    <div class="eventCon">
                        <div class="team">
                            <div class="logo">
                                <img src="../assets/20200412115447.jpg">
                            </div>
                            <div class="name">
                                菲尔特
                            </div>
                        </div>
                        <div class="event">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'exchange-alt']" />
                            </div>
                            換人
                        </div>
                        <div class="eventPlayers">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'user']" />
                            </div>
                            <div class="players">
                                <p class="man">查普曼<span class="out"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'play']" /></span></p>
                                <p class="man">提尔希斯多兰<span class="in"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'play']" /></span></p>
                            </div>
    
                        </div>
                    </div>
    
                </swiper-slide>
    
                <swiper-slide class="eventWrap">
                    <div class="time">
                        32'
                    </div>
                    <div class="eventCon">
                        <div class="team">
                            <div class="logo">
                                <img src="../assets/20200412115447.jpg">
                            </div>
                            <div class="name">
                                菲尔特
                            </div>
                        </div>
                        <div class="event">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                            </div>
                            进球
                        </div>
                        <div class="eventPlayers">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'user']" />
                            </div>
                            <div class="players">
                                <p class="man">查普曼</p>
                                <p class="man">(助攻:罗斯维尔)</p>
                            </div>
    
                        </div>
                    </div>
    
                </swiper-slide>
                <swiper-slide class="eventWrap">
                    <div class="time">
                        32'
                    </div>
                    <div class="eventCon">
                        <div class="team">
                            <div class="logo">
                                <img src="../assets/20200412115447.jpg">
                            </div>
                            <div class="name">
                                菲尔特
                            </div>
                        </div>
                        <div class="event">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'exchange-alt']" />
                            </div>
                            換人
                        </div>
                        <div class="eventPlayers">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'user']" />
                            </div>
                            <div class="players">
                                <p class="man">查普曼<span class="out"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'play']" /></span></p>
                                <p class="man">提尔希斯多兰<span class="in"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'play']" /></span></p>
                            </div>
    
                        </div>
                    </div>
    
                </swiper-slide>
    
                <swiper-slide class="eventWrap">
                    <div class="time">
                        32'
                    </div>
                    <div class="eventCon">
                        <div class="team">
                            <div class="logo">
                                <img src="../assets/20200412115447.jpg">
                            </div>
                            <div class="name">
                                菲尔特
                            </div>
                        </div>
                        <div class="event">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                            </div>
                            进球
                        </div>
                        <div class="eventPlayers">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'user']" />
                            </div>
                            <div class="players">
                                <p class="man">查普曼</p>
                                <p class="man">(助攻:罗斯维尔)</p>
                            </div>
    
                        </div>
                    </div>
    
                </swiper-slide><swiper-slide class="eventWrap">
                    <div class="time">
                        32'
                    </div>
                    <div class="eventCon">
                        <div class="team">
                            <div class="logo">
                                <img src="../assets/20200412115447.jpg">
                            </div>
                            <div class="name">
                                菲尔特
                            </div>
                        </div>
                        <div class="event">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'exchange-alt']" />
                            </div>
                            換人
                        </div>
                        <div class="eventPlayers">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'user']" />
                            </div>
                            <div class="players">
                                <p class="man">查普曼<span class="out"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'play']" /></span></p>
                                <p class="man">提尔希斯多兰<span class="in"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'play']" /></span></p>
                            </div>
    
                        </div>
                    </div>
    
                </swiper-slide>
    
                <swiper-slide class="eventWrap">
                    <div class="time">
                        32'
                    </div>
                    <div class="eventCon">
                        <div class="team">
                            <div class="logo">
                                <img src="../assets/20200412115447.jpg">
                            </div>
                            <div class="name">
                                菲尔特
                            </div>
                        </div>
                        <div class="event">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'futbol']" />
                            </div>
                            进球
                        </div>
                        <div class="eventPlayers">
                            <div class="icon">
                                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'user']" />
                            </div>
                            <div class="players">
                                <p class="man">查普曼</p>
                                <p class="man">(助攻:罗斯维尔)</p>
                            </div>
    
                        </div>
                    </div>
    
                </swiper-slide>
            </swiper>

            <p class="areaTitle">两队近期戰績</p>

            <el-tabs type="" class="switchTeam">
                <el-tab-pane>
                  <span slot="label">
                      <div class="activeWALS">费城联合</div></span>
                      <table class="record">
                        <tbody>
                        <tr>
                            <th class="game">賽 事</th>
                            <th class="date">日期</th>
                            <th class="score">
                                <span class="homeName">主 隊</span>
                                <span class="vs">比 分</span>
                                <span class="awayName">客 隊</span>
                            </th>
                            <th class="result">胜负</th>
                        </tr>
                        <tr>
                            <td>
                                菲尔特 
                            </td>
                            <td>
                                2021<br/>04-17
                            </td>
                            <td class="score">
                                <span class="homeName">克罗托内</span>
                                <span class="vs">1:1</span>
                                <span class="awayName">乌迪内斯</span>
                            </td>
                            <td>
                                胜
                            </td>
                        </tr>
                        <tr>
                            <td>
                                菲尔特 
                            </td>
                            <td>
                                2021<br/>04-17
                            </td>
                            <td class="score">
                                <span class="homeName">克罗托内</span>
                                <span class="vs">1:1</span>
                                <span class="awayName">乌迪内斯</span>
                            </td>
                            <td>
                                胜
                            </td>
                        </tr>
                        <tr>
                            <td>
                                菲尔特 
                            </td>
                            <td>
                                2021<br/>04-17
                            </td>
                            <td class="score">
                                <span class="homeName">克罗托内</span>
                                <span class="vs">1:1</span>
                                <span class="awayName">乌迪内斯</span>
                            </td>
                            <td>
                                胜
                            </td>
                        </tr>
                        <tr>
                            <td>
                                巴帕联
                            </td>
                            <td>
                                2021<br/>04-17
                            </td>
                            <td class="score">
                                <span class="homeName">克罗托内</span>
                                <span class="vs">1:1</span>
                                <span class="awayName">乌迪内斯</span>
                            </td>
                            <td>
                                胜
                            </td>
                        </tr>
                        <tr>
                            <td>
                                巴帕联
                            </td>
                            <td>
                                2021<br/>04-17
                            </td>
                            <td class="score">
                                <span class="homeName">克罗托内</span>
                                <span class="vs">1:1</span>
                                <span class="awayName">乌迪内斯</span>
                            </td>
                            <td>
                                胜
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </el-tab-pane>
                <el-tab-pane>
                <span slot="label">
                    <div class="activeWALS">达姆施塔特</div>
                </span>
                <table class="record">
                    <tbody>
                    <tr>
                        <th class="game">賽 事</th>
                        <th class="date">日期</th>
                        <th class="score">
                            <span class="homeName">主 隊</span>
                            <span class="vs">比 分</span>
                            <span class="awayName">客 隊</span>
                        </th>
                        <th class="result">胜负</th>
                    </tr>
                    <tr>
                        <td>
                            巴帕联
                        </td>
                        <td>
                            2021<br/>04-17
                        </td>
                        <td class="score">
                            <span class="homeName">克罗托内</span>
                            <span class="vs">1:1</span>
                            <span class="awayName">乌迪内斯</span>
                        </td>
                        <td>
                            胜
                        </td>
                    </tr>
                    <tr>
                        <td>
                            巴帕联
                        </td>
                        <td>
                            2021<br/>04-17
                        </td>
                        <td class="score">
                            <span class="homeName">克罗托内</span>
                            <span class="vs">1:1</span>
                            <span class="awayName">乌迪内斯</span>
                        </td>
                        <td>
                            胜
                        </td>
                    </tr>
                    <tr>
                        <td>
                            巴帕联
                        </td>
                        <td>
                            2021<br/>04-17
                        </td>
                        <td class="score">
                            <span class="homeName">克罗托内</span>
                            <span class="vs">1:1</span>
                            <span class="awayName">乌迪内斯</span>
                        </td>
                        <td>
                            胜
                        </td>
                    </tr>
                    <tr>
                        <td>
                            巴帕联
                        </td>
                        <td>
                            2021<br/>04-17
                        </td>
                        <td class="score">
                            <span class="homeName">克罗托内</span>
                            <span class="vs">1:1</span>
                            <span class="awayName">乌迪内斯</span>
                        </td>
                        <td>
                            胜
                        </td>
                    </tr>
                    <tr>
                        <td>
                            巴帕联
                        </td>
                        <td>
                            2021<br/>04-17
                        </td>
                        <td class="score">
                            <span class="homeName">克罗托内</span>
                            <span class="vs">1:1</span>
                            <span class="awayName">乌迪内斯</span>
                        </td>
                        <td>
                            胜
                        </td>
                    </tr>
                </tbody>
                </table>
                </el-tab-pane>
              </el-tabs>

            

        </div>
    </main>
    <Footer>

    </Footer>
</div>