<div class="GameDataAnalysisWrap AllCon">

    <Header>
    </Header>
    <main class="GameDataInformationCon clearfix">



        <div class="topInf clearfix">
            <div class="attention">
                <font-awesome-icon class="fontAwesomeIcon goal" :icon="['fa', 'eye']" />
                <span>関注</span>
            </div>
            <p class="leagueName">洪都甲秋</p>
            <div class="teams">
                <div class="team">
                    <div class="logo">
                        <div class="logoWrap">
                            <img src="../assets/20200412115447.jpg">
                        </div>
                    </div>
                    <p class="teamNeme">达姆施塔特</p>
                </div>
                <div class="score">
                    3-1
                </div>
                <div class="team">
                    <div class="logo">
                        <div class="logoWrap">
                            <img src="../assets/20200416023822.jpg">
                        </div>
                    </div>
                    <p class="teamNeme">菲尔特</p>
                </div>
            </div>
            <div class="date">
                开赛时间：2020-09-12 02:45
                <br />
                场地：域卡维治路球场 天气：多云 温度：12℃～13℃
            </div>
        </div>

        <div class="changePage">
            <router-link to="GameDataAnalysis" class="navBtn">
                數據分析
            </router-link>
            <div class="navBtn changed">賽事情報</div>
        </div>

        <div class="contents">
            <div class="articleItem">
                <div class="articleMain">
                    <router-link to="ArticlePage" class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</router-link>
                    <router-link to="ArticlePage" class="excerpt">
                        由于两支队伍是首次交锋，墨尔本胜利的实力相信大家都很清楚，其这个赛季的表现一直都不尽人意，球队的后防线存在着...由于两支队伍是首次交锋，墨尔本胜利的实力相信大...
                    </router-link>
                    <div class="autherInf">
                            <p>皇马魔笛 </p>
                            <p>
                                <span class="times">2021/05/03 13:12:22</span>
                                <span class="visits">浏览人次：99999</span>
                            </p>
                        </div>
                        <div class="changeLan">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'exchange-alt']" />顯示原文
                        </div>
                </div>

                <div class="btnSide">
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                    <span class="lock">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                    </span>
                </div>

            </div>
            <div class="articleItem">
                <div class="articleMain">
                    <router-link to="ArticlePage" class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</router-link>
                    <router-link to="ArticlePage" class="excerpt">
                        由于两支队伍是首次交锋，墨尔本胜利的实力相信大家都很清楚，其这个赛季的表现一直都不尽人意，球队的后防线存在着...由于两支队伍是首次交锋，墨尔本胜利的实力相信大...
                    </router-link>
                    <div class="autherInf">
                            <p>皇马魔笛 </p>
                            <p>
                                <span class="times">2021/05/03 13:12:22</span>
                                <span class="visits">浏览人次：99999</span>
                            </p>
                        </div>
                </div>

                <div class="btnSide">
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                    <span class="lock">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                    </span>
                </div>

            </div>
            <div class="articleItem">
                <div class="articleMain">
                    <router-link to="ArticlePage" class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</router-link>
                    <router-link to="ArticlePage" class="excerpt">
                        由于两支队伍是首次交锋，墨尔本胜利的实力相信大家都很清楚，其这个赛季的表现一直都不尽人意，球队的后防线存在着...由于两支队伍是首次交锋，墨尔本胜利的实力相信大...
                    </router-link>
                    <div class="autherInf">
                            <p>皇马魔笛 </p>
                            <p>
                                <span class="times">2021/05/03 13:12:22</span>
                                <span class="visits">浏览人次：99999</span>
                            </p>
                        </div>
                </div>

                <div class="btnSide">
                    <div class="addToFav in">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                    <span class="lock">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                    </span>
                </div>

            </div>
            <div class="articleItem">
                <div class="articleMain">
                    <router-link to="ArticlePage" class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</router-link>
                    <router-link to="ArticlePage" class="excerpt">
                        由于两支队伍是首次交锋，墨尔本胜利的实力相信大家都很清楚，其这个赛季的表现一直都不尽人意，球队的后防线存在着...由于两支队伍是首次交锋，墨尔本胜利的实力相信大...
                    </router-link>
                    <div class="autherInf">
                            <p>皇马魔笛 </p>
                            <p>
                                <span class="times">2021/05/03 13:12:22</span>
                                <span class="visits">浏览人次：99999</span>
                            </p>
                        </div>
                </div>

                <div class="btnSide">
                    <div class="addToFav in">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                    <span class="lock">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                    </span>
                </div>

            </div>
            <div class="articleItem">
                <div class="articleMain">
                    <router-link to="ArticlePage" class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</router-link>
                    <router-link to="ArticlePage" class="excerpt">
                        由于两支队伍是首次交锋，墨尔本胜利的实力相信大家都很清楚，其这个赛季的表现一直都不尽人意，球队的后防线存在着...由于两支队伍是首次交锋，墨尔本胜利的实力相信大...
                    </router-link>
                    <div class="autherInf">
                            <p>皇马魔笛 </p>
                            <p>
                                <span class="times">2021/05/03 13:12:22</span>
                                <span class="visits">浏览人次：99999</span>
                            </p>
                        </div>
                </div>

                <div class="btnSide">
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                    <span class="lock">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                    </span>
                </div>

            </div>
        </div>


    </main>
    <Footer>

    </Footer>
</div>