<div class="ArticleWrap LeaguePage AllCon">

    <Header>
    </Header>
    <SearchBar>
    </SearchBar>
    <main class="ArticleMainCon clearfix">


        <div class="contents">
            <div class="leagueInf">
                <div class="logo">
                    <img src="../assets/20190423203352.jpg">
                </div>
                <div class="neame">
                    欧洲冠军联赛
                </div>
                <div class="shadowWrap">
                    <div class="shadow">
                    </div>
                    <div class="shadowtTop">

                    </div>
                </div>
            </div>
            <div class="gameArticle">
                <div class="date">
                    04/17 02:00
                </div>
                <div class="teams">

                    <div class="teamWrap">
                        <p>德黑兰独立</p>
                        <div class="team">
                            <img class="" src="../assets/15.jpg">
                        </div>

                    </div>
                    <div class="vs">VS</div>
                    <div class="teamWrap">
                        <div class="team">
                            <img class="" src="../assets/16.jpg">
                        </div>
                        <p>赫尔蒙德</p>
                    </div>

                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>
                        </div>
                        <div class="changeLan">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'exchange-alt']" />顯示原文
                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>

            </div>
            <div class="gameArticle">
                <div class="date">
                    04/17 02:00
                </div>
                <div class="teams">

                    <div class="teamWrap">
                        <p>德黑兰独立</p>
                        <div class="team">
                            <img class="" src="../assets/15.jpg">
                        </div>

                    </div>
                    <div class="vs">VS</div>
                    <div class="teamWrap">
                        <div class="team">
                            <img class="" src="../assets/16.jpg">
                        </div>
                        <p>赫尔蒙德</p>
                    </div>

                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>

            </div>
            <div class="gameArticle">
                <div class="date">
                    04/17 02:00
                </div>
                <div class="teams">

                    <div class="teamWrap">
                        <p>德黑兰独立</p>
                        <div class="team">
                            <img class="" src="../assets/15.jpg">
                        </div>

                    </div>
                    <div class="vs">VS</div>
                    <div class="teamWrap">
                        <div class="team">
                            <img class="" src="../assets/16.jpg">
                        </div>
                        <p>赫尔蒙德</p>
                    </div>

                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>

            </div>
            <div class="gameArticle">
                <div class="date">
                    04/17 02:00
                </div>
                <div class="teams">

                    <div class="teamWrap">
                        <p>德黑兰独立</p>
                        <div class="team">
                            <img class="" src="../assets/15.jpg">
                        </div>

                    </div>
                    <div class="vs">VS</div>
                    <div class="teamWrap">
                        <div class="team">
                            <img class="" src="../assets/16.jpg">
                        </div>
                        <p>赫尔蒙德</p>
                    </div>

                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>
                <div class="articleItem">
                    <div class="con">
<router-link to="ArticlePage" class="titleWrap">
                            <div class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利
                                <div class="lockFlow">
                                <span class="lock">
                                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                                </span>
                            </div>
                            </div>

                        </router-link >
                        <div class="autherInf">
                                <p>皇马魔笛 </p>
                                <div class="underInf">
                                    <p>
                                        <span class="times">2021/05/03 13:12:22</span>
                                        <span class="visits">浏览人次：99999</span>
                                    </p>
                                </div>

                        </div>
                    </div>
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                        收藏
                    </div>
                </div>

            </div>

        </div>




    </main>
    <Footer>

    </Footer>
</div>