<div class="LiveScoreWrap AllCon">

    <Header>
    </Header>
    <main class="LiveScoreCon clearfix">
        <div class="pageTitle">
            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'futbol']" />
            足球即时比分
        </div>
        <div class="eventItem">
            <div class="evenHead">
                <div class="leftInf">

                    <div class="eventname">
                        日职乙
                    </div>
                    <div class="timeMD">
                        10:00
                    </div>
                    <div class="status">
                        未
                    </div>
                </div>
                <div class="righrtInf">
                    <div class="corner">
                        角 5-1 / 半 2-0
                    </div>
                    <div class="attention">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'eye']" />
                    </div>

                </div>

            </div>

            <router-link to="GameDataAnalysis" class="evenTeams">
                <div class="homeTeam">
                    <div class="homePic"><img src="../assets/16.jpg"></div>
                    <div class="home">德黑兰独立</div>
                </div>
                <div class="score">
                    VS
                </div>
                <div class="awayTeam">
                    <div class="awayPic"><img src="../assets/20200411201331.jpg"></div>
                    <div class="away">赫尔蒙德</div>
                </div>
            </router-link>


        </div>
        <div class="focusEvenClassTit"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'trophy']" />已開赛</div>        
        <div class="focusEventsWrap">
            <div class="eventItem">
                <div class="evenHead">
                    <div class="leftInf">

                        <div class="eventname">
                            日职乙
                        </div>
                        <div class="timeMD">
                            10:00
                        </div>
                        <div class="status">
                            未
                        </div>
                    </div>
                    <div class="righrtInf">
                        <div class="corner">
                            角 5-1 / 半 2-0
                        </div>
                        <div class="attention">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'eye']" />
                        </div>

                    </div>

                </div>

                <router-link to="GameDataAnalysis" class="evenTeams">
                    <div class="homeTeam">
                        <div class="homePic"><img src="../assets/20200416023822.jpg"></div>
                        <div class="home">德黑兰独立</div>
                    </div>
                    <div class="score">
                        1-2
                    </div>
                    <div class="awayTeam">
                        <div class="awayPic"><img src="../assets/15.jpg"></div>
                        <div class="away">赫尔蒙德</div>
                    </div>
                </router-link>


            </div>
            <div class="eventItem">
                <div class="evenHead">
                    <div class="leftInf">

                        <div class="eventname">
                            日职乙
                        </div>
                        <div class="timeMD">
                            10:00
                        </div>
                        <div class="status">
                            未
                        </div>
                    </div>
                    <div class="righrtInf">
                        <div class="corner">
                            角 5-1 / 半 2-0
                        </div>
                        <div class="attention">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'eye']" />
                        </div>

                    </div>

                </div>

                <router-link to="GameDataAnalysis" class="evenTeams">
                    <div class="homeTeam">
                        <div class="homePic"><img src="../assets/16.jpg"></div>
                        <div class="home">德黑兰独立</div>
                    </div>
                    <div class="score">
                        VS
                    </div>
                    <div class="awayTeam">
                        <div class="awayPic"><img src="../assets/20200411201331.jpg"></div>
                        <div class="away">赫尔蒙德</div>
                    </div>
                </router-link>


            </div>

            <div class="focusEvenClassTit"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'hourglass-half']" />未開赛</div>
            <div class="eventItem">
                <div class="evenHead">
                    <div class="leftInf">

                        <div class="eventname">
                            日职乙
                        </div>
                        <div class="timeMD">
                            10:00
                        </div>
                        <div class="status">
                            未
                        </div>
                    </div>
                    <div class="righrtInf">
                        <div class="corner">
                            角 5-1 / 半 2-0
                        </div>
                        <div class="attention">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'eye']" />
                        </div>

                    </div>

                </div>

                <router-link to="GameDataAnalysis" class="evenTeams">
                    <div class="homeTeam">
                        <div class="homePic"><img src="../assets/07.png"></div>
                        <div class="home">德黑兰独立</div>
                    </div>
                    <div class="score">
                        --
                    </div>
                    <div class="awayTeam">
                        <div class="awayPic"><img src="../assets/20200412115447.jpg"></div>
                        <div class="away">赫尔蒙德</div>
                    </div>
                </router-link>


            </div>
            <div class="eventItem">
                <div class="evenHead">
                    <div class="leftInf">

                        <div class="eventname">
                            日职乙
                        </div>
                        <div class="timeMD">
                            10:00
                        </div>
                        <div class="status">
                            未
                        </div>
                    </div>
                    <div class="righrtInf">
                        <div class="corner">
                            角 5-1 / 半 2-0
                        </div>
                        <div class="attention">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'eye']" />
                        </div>

                    </div>

                </div>

                <router-link to="GameDataAnalysis" class="evenTeams">
                    <div class="homeTeam">
                        <div class="homePic"><img src="../assets/15.jpg"></div>
                        <div class="home">德黑兰独立</div>
                    </div>
                    <div class="score">
                        VS
                    </div>
                    <div class="awayTeam">
                        <div class="awayPic"><img src="../assets/20200416023822.jpg"></div>
                        <div class="away">赫尔蒙德</div>
                    </div>
                </router-link>
            </div>

            <div class="focusEvenClassTit"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'calendar-day']" />已完赛</div>
            <div class="eventItem">
                <div class="evenHead">
                    <div class="leftInf">

                        <div class="eventname">
                            日职乙
                        </div>
                        <div class="timeMD">
                            10:00
                        </div>
                        <div class="status">
                            完
                        </div>
                    </div>
                    <div class="righrtInf">
                        <div class="corner">
                            角 5-1 / 半 2-0
                        </div>
                        <div class="attention">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'eye']" />
                        </div>

                    </div>

                </div>

                <router-link to="GameDataAnalysis" class="evenTeams">
                    <div class="homeTeam">
                        <div class="homePic"><img src="../assets/20200412115447.jpg"></div>
                        <div class="home">德黑兰独立</div>
                    </div>
                    <div class="score">
                        2-2
                    </div>
                    <div class="awayTeam">
                        <div class="awayPic"><img src="../assets/16.jpg"></div>
                        <div class="away">赫尔蒙德</div>
                    </div>
                </router-link>


            </div>


        </div>






    </main>
    <Footer>

    </Footer>
</div>