<div class="MemberWrap AllCon">

    <Header>
    </Header>
    <main class="MemberCon clearfix">
        <div class="pageTitle">
            <font-awesome-icon class="fontAwesomeIcon" :icon="['far', 'user']" />
            <router-link to="MemberIndex">會員專區</router-link>
            <font-awesome-icon :class="" :icon="['fa', 'chevron-right']" />追踪分析师
        </div>
        <div class="con">
            <BasicInf>
            </BasicInf>


            <p class="mamberTit">追踪分析师</p>


            <router-link class="autherItem" to="AutherPage">
                <div class="del"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'times']" /></div>
                <div class="autherPhoto">
                    <img src="../assets/20191226094626.jpg">
                </div>
                <div class="inf">
                    <div class="name">
                        伯虎点球
                    </div>
                    <div class="data">
                        <div class="articleAndFans">
                            <p class="postQ">發表文章：95篇</p>
                            <p class="fansQ">粉絲：150人</p>
                        </div>
                        <div class="accuracy">
                            <p class="percent"> 35% </p>
                            <p class="percentCopy">預測準確率</p>
                        </div>

                    </div>
                    <div class="">
                        近期有5篇最新文章
                    </div>
                </div>
                
            </router-link>


            <router-link class="autherItem" to="AutherPage">
                <div class="del"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'times']" /></div>
                <div class="autherPhoto">
                    <img src="../assets/20200411201331.jpg">
                </div>
                <div class="inf">
                    <div class="name">
                        伯虎点球
                    </div>
                    <div class="data">
                        <div class="articleAndFans">
                            <p class="postQ">發表文章：95篇</p>
                            <p class="fansQ">粉絲：150人</p>
                        </div>
                        <div class="accuracy">
                            <p class="percent"> 35% </p>
                            <p class="percentCopy">預測準確率</p>
                        </div>

                    </div>
                </div>
            </router-link>
            <router-link class="autherItem" to="AutherPage">
                <div class="del"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'times']" /></div>
                <div class="autherPhoto">
                    <img src="../assets/2842835_20180707043113.jpg">
                </div>
                <div class="inf">
                    <div class="name">
                        伯虎点球
                    </div>
                    <div class="data">
                        <div class="articleAndFans">
                            <p class="postQ">發表文章：95篇</p>
                            <p class="fansQ">粉絲：150人</p>
                        </div>
                        <div class="accuracy">
                            <p class="percent"> 35% </p>
                            <p class="percentCopy">預測準確率</p>
                        </div>

                    </div>
                </div>
            </router-link>
            <router-link class="autherItem" to="AutherPage">
                <div class="del"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'times']" /></div>
                <div class="autherPhoto">
                    <img src="../assets/3372795_20210323110130.jpg">
                </div>
                <div class="inf">
                    <div class="name">
                        伯虎点球
                    </div>
                    <div class="data">
                        <div class="articleAndFans">
                            <p class="postQ">發表文章：95篇</p>
                            <p class="fansQ">粉絲：150人</p>
                        </div>
                        <div class="accuracy">
                            <p class="percent"> 35% </p>
                            <p class="percentCopy">預測準確率</p>
                        </div>

                    </div>
                </div>
            </router-link>
            <router-link class="autherItem" to="AutherPage">
                <div class="del"><font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'times']" /></div>
                <div class="autherPhoto">
                    <img src="../assets/20200412115447.jpg">
                </div>
                <div class="inf">
                    <div class="name">
                        伯虎点球
                    </div>
                    <div class="data">
                        <div class="articleAndFans">
                            <p class="postQ">發表文章：95篇</p>
                            <p class="fansQ">粉絲：150人</p>
                        </div>
                        <div class="accuracy">
                            <p class="percent"> 35% </p>
                            <p class="percentCopy">預測準確率</p>
                        </div>

                    </div>
                </div>
            </router-link>
        </div>


    </main>
    <Footer>

    </Footer>
</div>