<div class="MemberWrap AllCon">

    <Header>
    </Header>
    <main class="MemberCon clearfix">
        <div class="pageTitle">
            <font-awesome-icon class="fontAwesomeIcon" :icon="['far', 'user']" />
            <router-link to="MemberIndex">會員專區</router-link><font-awesome-icon :class="" :icon="['fa', 'chevron-right']"/>关注赛事
        </div>
        <div class="con">
            <BasicInf>
            </BasicInf>


            <p class="mamberTit">关注赛事</p>

            <div class="eventItem">
                <div class="evenHead">
                    <div class="leftInf">

                        <div class="eventname">
                            日职乙
                        </div>
                        <div class="timeMD">
                            10:00
                        </div>
                        <div class="status">
                            未
                        </div>
                    </div>
                    <div class="righrtInf">
                        <div class="corner">
                            角 5-1 / 半 2-0
                        </div>
                        <div class="attention">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'times']" />
                        </div>

                    </div>

                </div>

                <router-link to="GameDataAnalysis" class="evenTeams">
                    <div class="homeTeam">
                        <div class="homePic"><img src="../assets/20200416023822.jpg"></div>
                        <div class="home">德黑兰独立</div>
                    </div>
                    <div class="score">
                        VS
                    </div>
                    <div class="awayTeam">
                        <div class="awayPic"><img src="../assets/15.jpg"></div>
                        <div class="away">赫尔蒙德</div>
                    </div>
                </router-link>


            </div>
            <div class="eventItem">
                <div class="evenHead">
                    <div class="leftInf">

                        <div class="eventname">
                            日职乙
                        </div>
                        <div class="timeMD">
                            10:00
                        </div>
                        <div class="status">
                            未
                        </div>
                    </div>
                    <div class="righrtInf">
                        <div class="corner">
                            角 5-1 / 半 2-0
                        </div>
                        <div class="attention">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'times']" />
                        </div>

                    </div>

                </div>

                <router-link to="GameDataAnalysis" class="evenTeams">
                    <div class="homeTeam">
                        <div class="homePic"><img src="../assets/16.jpg"></div>
                        <div class="home">德黑兰独立</div>
                    </div>
                    <div class="score">
                        VS
                    </div>
                    <div class="awayTeam">
                        <div class="awayPic"><img src="../assets/20200411201331.jpg"></div>
                        <div class="away">赫尔蒙德</div>
                    </div>
                </router-link>


            </div>
            <div class="eventItem">
                <div class="evenHead">
                    <div class="leftInf">

                        <div class="eventname">
                            日职乙
                        </div>
                        <div class="timeMD">
                            10:00
                        </div>
                        <div class="status">
                            未
                        </div>
                    </div>
                    <div class="righrtInf">
                        <div class="corner">
                            角 5-1 / 半 2-0
                        </div>
                        <div class="attention">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'times']" />
                        </div>

                    </div>

                </div>

                <router-link to="GameDataAnalysis" class="evenTeams">
                    <div class="homeTeam">
                        <div class="homePic"><img src="../assets/07.png"></div>
                        <div class="home">德黑兰独立</div>
                    </div>
                    <div class="score">
                        VS
                    </div>
                    <div class="awayTeam">
                        <div class="awayPic"><img src="../assets/20200412115447.jpg"></div>
                        <div class="away">赫尔蒙德</div>
                    </div>
                </router-link>


            </div>
            <div class="eventItem">
                <div class="evenHead">
                    <div class="leftInf">

                        <div class="eventname">
                            日职乙
                        </div>
                        <div class="timeMD">
                            10:00
                        </div>
                        <div class="status">
                            未
                        </div>
                    </div>
                    <div class="righrtInf">
                        <div class="corner">
                            角 5-1 / 半 2-0
                        </div>
                        <div class="attention">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'times']" />
                        </div>

                    </div>

                </div>

                <router-link to="GameDataAnalysis" class="evenTeams">
                    <div class="homeTeam">
                        <div class="homePic"><img src="../assets/15.jpg"></div>
                        <div class="home">德黑兰独立</div>
                    </div>
                    <div class="score">
                        VS
                    </div>
                    <div class="awayTeam">
                        <div class="awayPic"><img src="../assets/20200416023822.jpg"></div>
                        <div class="away">赫尔蒙德</div>
                    </div>
                </router-link>
            </div>
            <div class="eventItem">
                <div class="evenHead">
                    <div class="leftInf">

                        <div class="eventname">
                            日职乙
                        </div>
                        <div class="timeMD">
                            10:00
                        </div>
                        <div class="status">
                            未
                        </div>
                    </div>
                    <div class="righrtInf">
                        <div class="corner">
                            角 5-1 / 半 2-0
                        </div>
                        <div class="attention">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'times']" />
                        </div>

                    </div>

                </div>

                <router-link to="GameDataAnalysis" class="evenTeams">
                    <div class="homeTeam">
                        <div class="homePic"><img src="../assets/20200412115447.jpg"></div>
                        <div class="home">德黑兰独立</div>
                    </div>
                    <div class="score">
                        VS
                    </div>
                    <div class="awayTeam">
                        <div class="awayPic"><img src="../assets/16.jpg"></div>
                        <div class="away">赫尔蒙德</div>
                    </div>
                </router-link>


            </div>




        </div>


    </main>
    <Footer>

    </Footer>
</div>