<div class="MemberWrap AllCon">

    <Header>
    </Header>
    <main class="MemberCon clearfix">
        <div class="pageTitle">
            <font-awesome-icon class="fontAwesomeIcon" :icon="['far', 'user']" />
            <router-link to="MemberIndex">會員專區</router-link>
        </div>
        <div class="con">
            <BasicInf>
            </BasicInf>
        <div class="items">
            <router-link to="MemberInfPs">
                <div class="icon">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'key']" />
                </div>
                <p class="copy">修改密码</p>
            </router-link>
            <router-link to="MemberInfPr">
                <div class="icon">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'folder-open']" />
                </div>
                <p class="copy">修改资料</p>
            </router-link>
            <router-link to="MemberInfSystemInf">
                <div class="icon">
                    <div class="notify">1</div>
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'info-circle']" />
                </div>
                <p class="copy">系统讯息</p>
            </router-link>
            <router-link to="MemberPublish">
                <div class="icon">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'user-edit']" />
                </div>
                <p class="copy">文章管理</p>
            </router-link>
            <router-link to="MemberGames">
                <div class="icon">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'eye']" />
                </div>
                <p class="copy">关注赛事</p>
            </router-link>
            <router-link to="MemberFavorite">
                <div class="icon">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                </div>
                <p class="copy">收藏文章</p>
            </router-link>
            <router-link to="MemberFollow">
                <div class="icon">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'thumbtack']" />
                </div>
                <p class="copy">追踪分析师</p>
            </router-link>
            <router-link to="#">
                <div class="icon">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'boxes']" />
                </div>
                <p class="copy">兑换商品</p>
            </router-link>
            <router-link to="#">
                <div class="icon">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'heart']" />
                </div>
                <p class="copy">收藏商品</p>
            </router-link>
            <router-link to="MemberPurchase">
                <div class="icon">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'donate']" />
                </div>
                <p class="copy">文章购买</p>
            </router-link>
            <router-link to="#">
                <div class="icon">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'sign-out-alt']" />
                </div>
                <p class="copy">登出</p>
            </router-link>

        </div>

    </div>






</main>
<Footer>

</Footer>
</div>