<div class="MemberWrap AllCon">

    <Header>
    </Header>
    <main class="MemberCon clearfix">
        <div class="pageTitle">
            <font-awesome-icon class="fontAwesomeIcon" :icon="['far', 'user']" />
            <router-link to="MemberIndex">會員專區</router-link>
            <font-awesome-icon :class="" :icon="['fa', 'chevron-right']" />
            <router-link to="MemberPublish">文章管理</router-link>
            <font-awesome-icon :class="" :icon="['fa', 'chevron-right']" />编辑文章
        </div>
        <div class="con publish">
            <BasicInf>
            </BasicInf>


            <p class="mamberTit">编辑文章</p>
            <div class="editArticleForm">
                <div class="rejectionCon highlight">
                    提示本篇駁回事由-：<br />
                    本文及图片仅供吧友学习研究之用，版权归属原作者，未经许可不得转载，不得用于任何商业用途。如果文章侵犯了您的版权，请联系本站删除。
                </div>
                <div class="gameSelect">
                    <div class="tit">赛事</div>
                    <div class="con">
                        杯赛 / 保女杯 /<br />
                        NSA索菲亚女足 VS 普罗夫迪夫火车头女足
                    </div>
                </div>
                <div class="propertyCollection">
                    <div class="tollPoint">收费 <span class="point">129點</span></div>
                    <div class="articleLan">語 系<span class="lansIcon">VT</span>
                </div>
                <div class="winningPrediction">勝負預測<span class="result ">主队勝</span></div>
                </div>

            </div>
            <div class="recommend">
                <div class="tit">玩法推荐</div>
                <div class="con">
                    <!--大小球排版如下-->
                    <!--<div class="playRule_1">大小球 ：大 - 2/2.5</div>-->
                    <!--让 分排版如下-->
                    <!--<div class="playRule_2">让 分：主队 / 1 分 </div>-->
                    <!--波 胆-->
                    <div class="playRule_3">波 胆； 主隊 3 vs 客隊 2</div>
                </div>
            </div>
            <div class="articleTitle">
                <p class="tit">标 题</p>
                <div class="itemForm">
                    <input type="text" value="NBA战报：特雷-杨21+11 加里纳利28分 利拉德33+8 老鹰终结开拓者四连胜" placeholder="*35个字之内">
                </div>
                <div class="notice highlight">35个字之内</div>
            </div>
            <div class="analysis">
                <p class="tit">主队分析</p>
                <div class="itemForm">
                    <textarea class="awayAnalysis">升班马长春亚泰开局的赛程不错，在实力不强的大连人和津门虎身上拿了4分，重返中超后初步站稳了脚跟，队员也收获了信心。上轮亚泰闷平实力孱弱的津门虎，未能拿到计划内的3分，非常遗憾。从表面上看，门柱和横梁3次拒绝了亚泰的进球，似乎可以把这场比赛零进球归咎于球运，但实际上进攻套路单一、缺少节奏变化才是主因。</textarea>
                </div>
                <p class="tit">客队分析</p>
                <div class="itemForm">
                    <textarea class="awayAnalysis">升班马长春亚泰开局的赛程不错，在实力不强的大连人和津门虎身上拿了4分，重返中超后初步站稳了脚跟，队员也收获了信心。上轮亚泰闷平实力孱弱的津门虎，未能拿到计划内的3分，非常遗憾。从表面上看，门柱和横梁3次拒绝了亚泰的进球，似乎可以把这场比赛零进球归咎于球运，但实际上进攻套路单一、缺少节奏变化才是主因。</textarea>
                </div>
                <p class="tit">综合分析</p>
                <div class="itemForm">
                    <textarea class="awayAnalysis">升班马长春亚泰开局的赛程不错，在实力不强的大连人和津门虎身上拿了4分，重返中超后初步站稳了脚跟，队员也收获了信心。上轮亚泰闷平实力孱弱的津门虎，未能拿到计划内的3分，非常遗憾。从表面上看，门柱和横梁3次拒绝了亚泰的进球，似乎可以把这场比赛零进球归咎于球运，但实际上进攻套路单一、缺少节奏变化才是主因。</textarea>
                </div>
            </div>
            
            <div class="btnWrap">
                <button class="publishEmpty">清 空</button>
                <button class="publishSubmit">送出核审</button>
        </div>
       </div>


    </main>
    <Footer>

    </Footer>

</div>