<div class="MemberWrap ArticleWrap AllCon">

    <Header>
    </Header>
    <main class="MemberCon clearfix">
        <div class="pageTitle">
            <font-awesome-icon class="fontAwesomeIcon" :icon="['far', 'user']" />
            <router-link to="MemberIndex">會員專區</router-link>
            <font-awesome-icon :class="" :icon="['fa', 'chevron-right']" />
            <router-link to="MemberPublish">文章管理</router-link>
            <font-awesome-icon :class="" :icon="['fa', 'chevron-right']" />我的文章
        </div>
        <div class="con publish">
            <BasicInf>
            </BasicInf>
            <p class="mamberTit">我的文章</p>
            <div class="articleManageBtn">
                <router-link class="in" to="MyPublish">已发布</router-link>
                <router-link to="MyReject">已驳回</router-link>
            </div>
            <div class="myArticleCon">
                <div class="articleItem">
                    <router-link to="ArticlePage" class="mobileMainImg item">

                        <div class="mainColor" style="background: rgb(25, 55, 89);">
                        </div>
                        <div class="bgImg">
                        </div>
                        <div class="leagueImagBg">
                            <img class="leagueImag" src="../assets/20190423203352.jpg">
                        </div>
                        <div class="teams">
                            <div class="logos">
                                <div class="teamWrap">
                                    <div class="team">
                                        <img class="" src="../assets/15.jpg">
                                    </div>
                                    <p>德黑兰独立</p>
                                </div>
                                <div class="vs">VS</div>
                                <div class="teamWrap">
                                    <div class="team">
                                        <img class="" src="../assets/16.jpg">
                                    </div>
                                    <p>赫尔蒙德</p>
                                </div>
                            </div>
                        </div>
                        <div class="layer"
                            style="background: linear-gradient(90deg, rgb(25, 55, 89), rgba(89, 89, 89, 0));">英超 04/17
                            02:00
                        </div>
                    </router-link>
                    <div class="con">
                        <router-link to="ArticlePage" class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</router-link>
                        <div class="articleTime">
                            发表日期：2021/08/06 10:29:39<br />
                            最後編輯時間：2021/08/06 10:29:39<br />
                            已经编辑1次 还可以编辑2次
                        </div>
                    </div>
                    <div class="bottomBtnWrap">
                        <router-link to="MemberPublishEdit" class="edit bottomBtn">
                            编 辑
                        </router-link>
                    </div>
                </div>
                <div class="articleItem">
                    <router-link to="ArticlePage" class="mobileMainImg item">
                        <div class="mainColor" style="background: rgb(25, 55, 89);">
                        </div>
                        <div class="bgImg">
                        </div>
                        <div class="leagueImagBg">
                            <img class="leagueImag" src="../assets/20190423203352.jpg">
                        </div>
                        <div class="teams">
                            <div class="logos">
                                <div class="teamWrap">
                                    <div class="team">
                                        <img class="" src="../assets/15.jpg">
                                    </div>
                                    <p>德黑兰独立</p>
                                </div>
                                <div class="vs">VS</div>
                                <div class="teamWrap">
                                    <div class="team">
                                        <img class="" src="../assets/16.jpg">
                                    </div>
                                    <p>赫尔蒙德</p>
                                </div>
                            </div>
                        </div>
                        <div class="layer"
                            style="background: linear-gradient(90deg, rgb(25, 55, 89), rgba(89, 89, 89, 0));">英超 04/17
                            02:00
                        </div>
                    </router-link>
                    <div class="con">
                        <router-link to="ArticlePage" class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</router-link>
                        <div class="articleTime">
                            发表日期：2021/08/06 10:29:39<br />
                            最後編輯時間：2021/08/06 10:29:39<br />
                            已经编辑1次 还可以编辑2次
                        </div>
                    </div>
                    <div class="bottomBtnWrap">
                        <router-link to="MemberPublishEdit" class="edit bottomBtn">
                            编 辑
                        </router-link>
                    </div>
                </div>
                <div class="articleItem">
                    <router-link to="ArticlePage" class="mobileMainImg item">

                        <div class="mainColor" style="background: rgb(25, 55, 89);">
                        </div>
                        <div class="bgImg">
                        </div>
                        <div class="leagueImagBg">
                            <img class="leagueImag" src="../assets/20190423203352.jpg">
                        </div>
                        <div class="teams">
                            <div class="logos">
                                <div class="teamWrap">
                                    <div class="team">
                                        <img class="" src="../assets/15.jpg">
                                    </div>
                                    <p>德黑兰独立</p>
                                </div>
                                <div class="vs">VS</div>
                                <div class="teamWrap">
                                    <div class="team">
                                        <img class="" src="../assets/16.jpg">
                                    </div>
                                    <p>赫尔蒙德</p>
                                </div>
                            </div>
                        </div>
                        <div class="layer"
                            style="background: linear-gradient(90deg, rgb(25, 55, 89), rgba(89, 89, 89, 0));">英超 04/17
                            02:00
                        </div>
                    </router-link>
                    <div class="con">
                        <router-link to="ArticlePage" class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</router-link>
                        <div class="articleTime">
                            发表日期：2021/08/06 10:29:39<br />
                            最後編輯時間：2021/08/06 10:29:39<br />
                            已经编辑1次 还可以编辑2次
                        </div>
                    </div>
                    <div class="bottomBtnWrap">
                        <router-link to="MemberPublishEdit" class="edit bottomBtn">
                            编 辑
                        </router-link>
                    </div>
                </div>
                <div class="articleItem">
                    <router-link to="ArticlePage" class="mobileMainImg item">

                        <div class="mainColor" style="background: rgb(25, 55, 89);">
                        </div>
                        <div class="bgImg">
                        </div>
                        <div class="leagueImagBg">
                            <img class="leagueImag" src="../assets/20190423203352.jpg">
                        </div>
                        <div class="teams">
                            <div class="logos">
                                <div class="teamWrap">
                                    <div class="team">
                                        <img class="" src="../assets/15.jpg">
                                    </div>
                                    <p>德黑兰独立</p>
                                </div>
                                <div class="vs">VS</div>
                                <div class="teamWrap">
                                    <div class="team">
                                        <img class="" src="../assets/16.jpg">
                                    </div>
                                    <p>赫尔蒙德</p>
                                </div>
                            </div>
                        </div>
                        <div class="layer"
                            style="background: linear-gradient(90deg, rgb(25, 55, 89), rgba(89, 89, 89, 0));">英超 04/17
                            02:00
                        </div>
                    </router-link>
                    <div class="con">
                        <router-link to="ArticlePage" class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</router-link>
                        <div class="articleTime">
                            发表日期：2021/08/06 10:29:39<br />
                            最後編輯時間：2021/08/06 10:29:39<br />
                            已经编辑1次 还可以编辑2次
                        </div>
                    </div>
                    <div class="bottomBtnWrap">
                        <div class="edit bottomBtn">
                            <font-awesome-icon :class="" :icon="['fas', 'ban']" /> 编 辑
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </main>
    <Footer>

    </Footer>
</div>