<div class="ArticleWrap SearchGame AllCon">

    <Header>
    </Header>
    <SearchBar>
    </SearchBar>
    <main class="ArticleMainCon clearfix">

        <p class="SearchResult">搜索到 关键字"<span class="highlight">法兰克福</span>"的赛事 5个結果</p>


        <div class="contents">
            <div class="Leagues">
                <p class="SearchResultGames">2个相关的联赛/杯赛</p>
                <div class="leagueItmeWrap">
                    <div class="leagueLogo">
                        <router-link to="LeaguePage"><img src="../assets/20200416023822.jpg"></router-link>
                    </div>
                    <router-link to="LeaguePage" class="name">德国足协杯</router-link>
                    <div class="btnWrap">
                        <div class="AutherData">
                            <router-link to="AutherData" class="">
                                数据统计
                            </router-link>
                        </div>
                        <div class="LeagueArticle">
                            <router-link to="LeaguePage">
                                相关文章
                            </router-link>
                        </div>

                    </div>
                </div>
                <div class="leagueItmeWrap">
                    <div class="leagueLogo">
                        <router-link to="LeaguePage"><img src="../assets/20200412115447.jpg"></router-link>
                    </div>
                    <router-link to="LeaguePage" class="name">英格兰超级联赛</router-link>
                    <div class="btnWrap">
                        <div class="AutherData">
                            <router-link to="AutherData" class="">
                                数据统计
                            </router-link>
                        </div>
                        <div class="LeagueArticle">
                            <router-link to="LeaguePage">
                                相关文章
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="games">
                <p class="SearchResultGames">3个相关的比赛</p>
                <div class="gameItmeWrap">
                    <p class="date">04/17 02:00</p>
                    <div class="teams">

                        <div class="teamWrap">
                            <div class="team">
                                <img class="" src="../assets/15.jpg">
                            </div>
                            <p>德黑兰独立</p>
                        </div>
                        <div class="vs">VS</div>
                        <div class="teamWrap">
                            <div class="team">
                                <img class="" src="../assets/16.jpg">
                            </div>
                            <p>赫尔蒙德</p>
                        </div>

                    </div>
                    <div class="btnWrap">
                        <div class="AutherData">
                            <router-link to="AutherData" class="">
                                数据统计
                            </router-link>
                        </div>
                        <div class="LeagueArticle">
                            <router-link to="LeagueArticle">
                                相关文章
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="gameItmeWrap">
                    <p class="date">04/17 02:00</p>
                    <div class="teams">

                        <div class="teamWrap">
                            <div class="team">
                                <img class="" src="../assets/15.jpg">
                            </div>
                            <p>德黑兰独立</p>
                        </div>
                        <div class="vs">VS</div>
                        <div class="teamWrap">
                            <div class="team">
                                <img class="" src="../assets/16.jpg">
                            </div>
                            <p>赫尔蒙德</p>
                        </div>

                    </div>
                    <div class="btnWrap">
                        <div class="AutherData">
                            <router-link to="AutherData" class="">
                                数据统计
                            </router-link>
                        </div>
                        <div class="LeagueArticle">
                            <router-link to="LeagueArticle">
                                相关文章
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="gameItmeWrap">
                    <p class="date">04/17 02:00</p>
                    <div class="teams">

                        <div class="teamWrap">
                            <div class="team">
                                <img class="" src="../assets/15.jpg">
                            </div>
                            <p>德黑兰独立</p>
                        </div>
                        <div class="vs">VS</div>
                        <div class="teamWrap">
                            <div class="team">
                                <img class="" src="../assets/16.jpg">
                            </div>
                            <p>赫尔蒙德</p>
                        </div>

                    </div>
                    <div class="btnWrap">
                        <div class="AutherData">
                            <router-link to="AutherData" class="">
                                数据统计
                            </router-link>
                        </div>
                        <div class="LeagueArticle">
                            <router-link to="LeagueArticle">
                                相关文章
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>





        </div>

    </main>
    <Footer>

    </Footer>
</div>