<div class="ArticleWrap SearchAuther AllCon">

    <Header>
    </Header>
    <SearchBar>
    </SearchBar>
    <main class="ArticleMainCon clearfix">

        <p class="SearchResult">搜索到 关键字"<span class="highlight">球</span>"的作者 5个結果</p>


        <div class="contents">
            <div class="autherItemWrap">
                <div class="doc">
                    <div class="autherPhoto">
                        <router-link to="AutherPage">
                            <img src="../assets/2155966_20170718115016.jpg">
                        </router-link>
                    </div>
                    <div class="inf">
                        <router-link to="AutherPage" class="name">球妹</router-link>
                        <p class="accuracy">35% 預測準確率</p>
                        <p class="postQ">發表文章：95篇</p>
                        <p class="fansQ">粉絲：150人</p>
                    </div>
                </div>
                <div class="btnWrap">
                        <router-link class="allArticle" to="AutherPage">
                            所有文章
                        </router-link>
                    <div class="follow">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'thumbtack']" />追踪
                    </div>

                </div>
            </div>

            <div class="autherItemWrap">
                <div class="doc">
                    <div class="autherPhoto">
                        <router-link to="AutherPage">
                            <img src="../assets/2155966_20170718115016.jpg">
                        </router-link>
                    </div>
                    <div class="inf">
                        <router-link to="AutherPage" class="name">球妹</router-link>
                        <p class="accuracy">35% 預測準確率</p>
                        <p class="postQ">發表文章：95篇</p>
                        <p class="fansQ">粉絲：150人</p>
                    </div>
                </div>
                <div class="btnWrap">
                        <router-link class="allArticle" to="AutherPage">
                            所有文章
                        </router-link>
                    <div class="follow">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'thumbtack']" />追踪
                    </div>

                </div>
            </div>

            <div class="autherItemWrap">
                <div class="doc">
                    <div class="autherPhoto">
                        <router-link to="AutherPage">
                            <img src="../assets/2155966_20170718115016.jpg">
                        </router-link>
                    </div>
                    <div class="inf">
                        <router-link to="AutherPage" class="name">球妹</router-link>
                        <p class="accuracy">35% 預測準確率</p>
                        <p class="postQ">發表文章：95篇</p>
                        <p class="fansQ">粉絲：150人</p>
                    </div>
                </div>
                <div class="btnWrap">
                        <router-link class="allArticle" to="AutherPage">
                            所有文章
                        </router-link>
                    <div class="follow">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'thumbtack']" />追踪
                    </div>

                </div>
            </div>

            <div class="autherItemWrap">
                <div class="doc">
                    <div class="autherPhoto">
                        <router-link to="AutherPage">
                            <img src="../assets/2155966_20170718115016.jpg">
                        </router-link>
                    </div>
                    <div class="inf">
                        <router-link to="AutherPage" class="name">球妹</router-link>
                        <p class="accuracy">35% 預測準確率</p>
                        <p class="postQ">發表文章：95篇</p>
                        <p class="fansQ">粉絲：150人</p>
                    </div>
                </div>
                <div class="btnWrap">
                        <router-link class="allArticle" to="AutherPage">
                            所有文章
                        </router-link>
                    <div class="follow">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'thumbtack']" />追踪
                    </div>

                </div>
            </div>

            <div class="autherItemWrap">
                <div class="doc">
                    <div class="autherPhoto">
                        <router-link to="AutherPage">
                            <img src="../assets/2155966_20170718115016.jpg">
                        </router-link>
                    </div>
                    <div class="inf">
                        <router-link to="AutherPage" class="name">球妹</router-link>
                        <p class="accuracy">35% 預測準確率</p>
                        <p class="postQ">發表文章：95篇</p>
                        <p class="fansQ">粉絲：150人</p>
                    </div>
                </div>
                <div class="btnWrap">
                        <router-link class="allArticle" to="AutherPage">
                            所有文章
                        </router-link>
                    <div class="follow">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'thumbtack']" />追踪
                    </div>

                </div>
            </div>
        </div>

    </main>
    <Footer>

    </Footer>
</div>