<div class="ArticleWrap SearchArticle AllCon">

    <Header>
    </Header>
    <SearchBar>
    </SearchBar>
    <main class="ArticleMainCon clearfix">

        <p class="SearchResult">搜索到 关键字"<span class="highlight">法兰克福</span>"的文章 5个結果</p>


        <div class="contents">
            <div class="articleItem">
                <router-link to="ArticlePage" class="mobileMainImg item">
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                    </div>
                    <div class="mainColor" style="background: rgb(25, 55, 89);">
                    </div>
                    <div class="bgImg">
                    </div>
                    <div class="leagueImagBg">
                        <img class="leagueImag" src="../assets/20190423203352.jpg">
                    </div>
                    <div class="teams">
                        <div class="logos">
                            <div class="teamWrap">
                                <div class="team">
                                    <img class="" src="../assets/15.jpg">
                                </div>
                                <p>德黑兰独立</p>
                            </div>
                            <div class="vs">VS</div>
                            <div class="teamWrap">
                                <div class="team">
                                    <img class="" src="../assets/16.jpg">
                                </div>
                                <p>赫尔蒙德</p>
                            </div>
                        </div>
                    </div>
                    <div class="layer"
                        style="background: linear-gradient(90deg, rgb(25, 55, 89), rgba(89, 89, 89, 0));">英超 04/17 02:00
                    </div>
                </router-link>
                <div class="con">
                    <p class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</p>
                    <div class="autherInf">
                        <p>皇马魔笛 </p>
                        <p>
                            <span class="times">2021/05/03 13:12:22</span>
                            <span class="visits">浏览人次：99999</span>
                        </p>
                    </div>

                        <div class="changeLan">
                            <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'exchange-alt']" />顯示原文
                        </div>

                </div>
                <span class="lock">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                </span>
            </div>

            <div class="articleItem">
                <router-link to="ArticlePage" class="mobileMainImg item">
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                    </div>
                    <div class="mainColor" style="background: rgb(25, 55, 89);">
                    </div>
                    <div class="bgImg">
                    </div>
                    <div class="leagueImagBg">
                        <img class="leagueImag" src="../assets/20190423203352.jpg">
                    </div>
                    <div class="teams">
                        <div class="logos">
                            <div class="teamWrap">
                                <div class="team">
                                    <img class="" src="../assets/15.jpg">
                                </div>
                                <p>德黑兰独立</p>
                            </div>
                            <div class="vs">VS</div>
                            <div class="teamWrap">
                                <div class="team">
                                    <img class="" src="../assets/16.jpg">
                                </div>
                                <p>赫尔蒙德</p>
                            </div>
                        </div>
                    </div>
                    <div class="layer"
                        style="background: linear-gradient(90deg, rgb(25, 55, 89), rgba(89, 89, 89, 0));">英超 04/17 02:00
                    </div>
                </router-link>
                <div class="con">
                    <p class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</p>
                    <div class="autherInf">
                        <p>皇马魔笛 </p>
  
                            <p>
                                <span class="times">2021/05/03 13:12:22</span>
                                <span class="visits">浏览人次：99999</span>
                            </p>

                    </div>
                </div>
                <span class="lock">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                </span>
            </div>

            <div class="articleItem">
                <router-link to="ArticlePage" class="mobileMainImg item">
                    <div class="addToFav">
                        <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'star']" />
                    </div>
                    <div class="mainColor" style="background: rgb(25, 55, 89);">
                    </div>
                    <div class="bgImg">
                    </div>
                    <div class="leagueImagBg">
                        <img class="leagueImag" src="../assets/20190423203352.jpg">
                    </div>
                    <div class="teams">
                        <div class="logos">
                            <div class="teamWrap">
                                <div class="team">
                                    <img class="" src="../assets/15.jpg">
                                </div>
                                <p>德黑兰独立</p>
                            </div>
                            <div class="vs">VS</div>
                            <div class="teamWrap">
                                <div class="team">
                                    <img class="" src="../assets/16.jpg">
                                </div>
                                <p>赫尔蒙德</p>
                            </div>
                        </div>
                    </div>
                    <div class="layer"
                        style="background: linear-gradient(90deg, rgb(25, 55, 89), rgba(89, 89, 89, 0));">英超 04/17 02:00
                    </div>
                </router-link>
                <div class="con">
                    <p class="title">造访福地！阿贾克斯最近6次在意大利比赛保持不败阿贾克斯最近6次在意大利</p>
                    <div class="autherInf">
                        <p>皇马魔笛 </p>
  
                            <p>
                                <span class="times">2021/05/03 13:12:22</span>
                                <span class="visits">浏览人次：99999</span>
                            </p>

                    </div>
                </div>
                <span class="lock">
                    <font-awesome-icon class="fontAwesomeIcon" :icon="['fa', 'lock']" />
                </span>
            </div>

        </div>

    </main>
    <Footer>

    </Footer>
</div>